<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="row">
  <div class="col-md-4">
    <section>
      <h3>Login</h3>
      <hr/>
      <span class="text-danger">{{errors}}</span>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Login</mat-label>
          <input matInput formControlName="email"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password"/>
        </mat-form-field>
      <div>
        <div>
          <a (click)="reset()">Forgot Password?</a>
        </div>
      </div>
      <div>
        <button id="loginBtn" mat-raised-button color="primary" class="w-100" type="submit">Login</button>
      </div>
      </form>
    </section>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <section>
      <h3>External login</h3>
      <hr/>
      <div>
        <span>No implementation</span>
      </div>
    </section>
  </div>
</div>
