<div class="col-md-4">
  <form method="post">
    <h3>Reset Password</h3>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" />
    </div>
    <div class="form-group">
      <label>ConfirmPassword</label>
      <input class="form-control" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary mt-1">Reset</button>
    </div>
  </form>
</div>
