<div class="col-md-4">
  <h3>Reset Password</h3>
  <div>
    <span class="text-danger">{{errors}}</span>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]='user.password' [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>ConfirmPassword</mat-label>
      <input matInput [(ngModel)]='user.confirmPassword' [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="reset()">Reset</button>
  </div>
</div>
