<h2>UpdatePatient</h2>
<form method="post" enctype="multipart/form-data">
  <div class="col-md-4">
    <div class="form-group">
      <label>FirstName</label><br />
      <input value="@ViewBag.Patient.FirstName" class="form-control" />
    </div>
    <div class="form-group">
      <label>MiddleName</label><br />
      <input  value="@ViewBag.Patient.MiddleName" class="form-control" />
    </div>
    <div class="form-group">
      <label >LastName</label><br />
      <input value="@ViewBag.Patient.LastName" class="form-control" />
    </div>
    <div class="form-group">
      <label>Email</label><br />
      <input value="@ViewBag.Patient.Email" class="form-control" />
    </div>
    <div class="form-group">
      <label >Age</label><br />
      <input value="@ViewBag.Patient.Age" class="form-control" />
    </div>
    <div class="form-group">
      <label>Sex</label><br />
      <select class="form-control" id="select">
        <option value="0">Female</option>
        <option value="1">Male</option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mt-1">Update</button>
    </div>
  </div>
</form>
