<div class="row mb-2">
  <div class="col">
    <button type="button" id="start" class="btn btn-success btn-block">Start</button>
  </div>
  <div class="col-1">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Info</button>
  </div>
</div>
<div class="container" style="height: calc(100vh - 200px);">
  <div class="row h-100">
    <div class="col human h-100">
      <div class="row h-25">
        <div class="col-4">
          <select id="2" class="form-control" style="opacity: 0.5;" onchange='findOption2(this)'>
            <option value=0></option>
            <option value=1>Tonometr</option>
            <option value=2>Termometr</option>
            <option value=3>HeartRate</option>
            <option value=4>Oximetr</option>
          </select>
        </div>
      </div>
      <div class="row h-25">
        <div class="col-4">
          <select id="3" class="form-control" style="opacity: 0.5;" onchange='findOption3(this)'>
            <option value=0></option>
            <option value=1>Tonometr</option>
            <option value=2>Termometr</option>
            <option value=3>HeartRate</option>
            <option value=4>Oximetr</option>
          </select>
        </div>
        <div class="col"></div>
        <div class="col-4">
          <select id="1" class="form-control" style="opacity: 0.5;" onchange='findOption1(this)'>
            <option value=0></option>
            <option value=1>Tonometr</option>
            <option value=2>Termometr</option>
            <option value=3>HeartRate</option>
            <option value=4>Oximetr</option>
          </select>
        </div>
      </div>
      <div class="row h-25">
        <div class="col-4"></div>
        <div class="col-4">
          <select id="4" class="form-control" style="opacity: 0.5;" onchange='findOption4(this)'>
            <option value=0></option>
            <option value=1>Tonometr</option>
            <option value=2>Termometr</option>
            <option value=3>HeartRate</option>
            <option value=4>Oximetr</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col h-100" style="overflow-y: auto;">
      <div class="row h-25">
        <div class="col tonometr"></div>
        <div class="col">
          <button type="button" id="testTonometr" class="btn btn-primary mt-1">Test</button>

          <div class="form-check">
            <input class="form-check-input" value="1" type="radio" name="tonometr" id="tonometrON" onclick="tonometrClick(this);">
            <label class="form-check-label" for="tonometrON">
              @Localizer["On"]
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="0" type="radio" name="tonometr" id="tonometrOFF" onclick="tonometrClick(this);" checked>
            <label class="form-check-label" for="tonometrOFF">
              @Localizer["Off"]
            </label>
          </div>
        </div>
      </div>
      <div class="row h-50 mb-5">
        <div class="card">
          <h4 class="card-header">
            @Localizer["MeasureDiaSis"]
          </h4>
          <div class="card-body">
            <canvas id="myChart" height="300" width="500">@Localizer["ChartLoad"]</canvas>
          </div>
        </div>
      </div>
      <div class="row h-25">
        <div class="col termometr"></div>
        <div class="col">
          <button type="button" id="testTermometr" class="btn btn-primary mt-1">Test</button>
          <div class="form-check">
            <input class="form-check-input" value="1" type="radio" name="termometr" id="termometrON" onclick="termometrClick(this);">
            <label class="form-check-label" for="termometrON">
              @Localizer["On"]
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="0" type="radio" name="termometr" id="termometrOFF" onclick="termometrClick(this);" checked>
            <label class="form-check-label" for="termometrOFF">
              @Localizer["Off"]
            </label>
          </div>
        </div>
      </div>
      <div class="row h-50 mb-5">
        <div class="card">
          <h4 class="card-header">
            @Localizer["MeasureTemp"]
          </h4>
          <div class="card-body">
            <canvas id="myChart1" width="500" height="300">Load</canvas>
          </div>
        </div>
      </div>
      <div class="row h-25">
        <div class="col heartrate"></div>
        <div class="col">
          <button type="button" id="testHeartrate" class="btn btn-primary mt-1">Test</button>
          <div class="form-check">
            <input class="form-check-input" value="1" type="radio" name="heartrate" id="heartrateON" onclick="heartrateClick(this);">
            <label class="form-check-label" for="heartrateON">
              On
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="0" type="radio" name="heartrate" id="heartrateOFF" onclick="heartrateClick(this);" checked>
            <label class="form-check-label" for="heartrateOFF">
              Off
            </label>
          </div>
        </div>
      </div>
      <div class="row h-50 mb-5">
        <div class="card">
          <h4 class="card-header">
            @Localizer["MeasureHeart"]
          </h4>
          <div class="card-body">
            <canvas id="myChart2" width="500" height="300">Load</canvas>
          </div>
        </div>
      </div>
      <div class="row h-25">
        <div class="col oximetr"></div>
        <div class="col">
          <button type="button" id="testOximetr" class="btn btn-primary mt-1">Test</button>
          <div class="form-check">
            <input class="form-check-input" value="1" type="radio" name="oximetr" id="oximetrON" onclick="oximetrClick(this);">
            <label class="form-check-label" for="oximetrON">
              On
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="0" type="radio" name="oximetr" id="oximetrOFF" onclick="oximetrClick(this);" checked>
            <label class="form-check-label" for="oximetrOFF">
              Off
            </label>
          </div>
        </div>
      </div>
      <div class="row h-50 mb-5">
        <div class="card">
          <h4 class="card-header">
            @Localizer["MeasureSpO2"]
          </h4>
          <div class="card-body">
            <canvas id="myChart3" width="500" height="300">Load</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">@Localizer["Info"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <span>Patient: @Model.Patient.LastName @Model.Patient.FirstName @Model.Patient.MiddleName</span>
        </div>
        <div class="row">
          <span>Age: @Model.Patient.Age</span>
        </div>
        <div class="row">
          <span>Sex: @Model.Patient.Sex</span>
        </div>
        <div class="row">
          <span>Date: @Model.Date</span>
        </div>
        <div class="row">
          <span>TypePhysicalActive: @Model.TypePhysicalActive</span>
        </div>
        <div class="row">
          <span>Measure:</span>
        </div>
        <ul>
          <li>DiaSis</li>
          <li>Temperature</li>
          <li>HeartRating</li>
          <li>SpO2</li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>

