<div class="row mb-2">
  <div class="col">
    <button type="button" id="start" (click)="start()" class="btn btn-success h-100 w-100">Start</button>
  </div>
  <div class="col-1">
    <button mat-raised-button color="primary" (click)="openDialog()" class="btn h-100 w-100" data-toggle="modal"
            data-target="#exampleModalCenter">
      <mat-icon>info</mat-icon>
      Info
    </button>
  </div>
</div>
<div class="container" style="height: calc(100vh - 200px);">
  <div class="row h-100">
    <div class="col human h-100">
      <div class="row h-25">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-select id="2" [(ngModel)]="sensor2" style="opacity: 0.5;">
              <mat-option [value]=0></mat-option>
              <mat-option [value]=1>Tonometr</mat-option>
              <mat-option [value]=2>Termometr</mat-option>
              <mat-option [value]=3>HeartRate</mat-option>
              <mat-option [value]=4>Oximetr</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row h-25">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-select id="3" [(ngModel)]="sensor3" style="opacity: 0.5;">
              <mat-option [value]=0></mat-option>
              <mat-option [value]=1>Tonometr</mat-option>
              <mat-option [value]=2>Termometr</mat-option>
              <mat-option [value]=3>HeartRate</mat-option>
              <mat-option [value]=4>Oximetr</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-select id="1" [(ngModel)]="sensor1" style="opacity: 0.5;">
              <mat-option [value]="0"></mat-option>
              <mat-option [value]="1">Tonometr</mat-option>
              <mat-option [value]="2">Termometr</mat-option>
              <mat-option [value]="3">HeartRate</mat-option>
              <mat-option [value]="4">Oximetr</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row h-25">
        <div class="col-4"></div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-select id="4" [(ngModel)]="sensor4" style="opacity: 0.5;">
              <mat-option [value]=0></mat-option>
              <mat-option [value]=1>Tonometr</mat-option>
              <mat-option [value]=2>Termometr</mat-option>
              <mat-option [value]=3>HeartRate</mat-option>
              <mat-option [value]=4>Oximetr</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col h-100" style="overflow-y: auto;">
      <div class="row h-25">
        <div class="col tonometr"></div>
        <div class="col pt-5">
          <button type="button" id="testTonometr" (click)="testTonometr()" mat-raised-button color="primary">Test
          </button>
          <mat-radio-group>
            <mat-radio-button (click)="tonometrClick()">On</mat-radio-button>
            <mat-radio-button (click)="tonometrClick()">Off</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row h-25 w-100">
        <ng-container #tonometrContainer>
        </ng-container>
        <ng-template #tonometrTemplate>
          <tui-axes
            class="axes"
            [verticalLines]="4"
            [horizontalLines]="2"
            [tuiLineChartHint]="hint"
          >
            <tui-line-chart
              *ngFor="let value of valueTonometr"
              class="chart"
              [x]="0"
              [y]="0"
              [width]="610"
              [height]="200"
              [smoothingFactor]="50"
              [filled]="true"
              [dots]="true"
              [value]="value"
              [xStringify]="stringify"
              [yStringify]="stringify"
            >Text</tui-line-chart>
          </tui-axes>
        </ng-template>
      </div>
      <div class="row h-25">
        <div class="col termometr"></div>
        <div class="col pt-5">
          <button type="button" id="testTermometr" (click)="testTermometr()" mat-raised-button color="primary">Test
          </button>
          <mat-radio-group>
            <mat-radio-button (click)="termometrClick()">On</mat-radio-button>
            <mat-radio-button (click)="termometrClick()">Off</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row h-25 mb-5">
        <ng-container #termometrConteiner>
        </ng-container>
        <ng-template #termometrTemplate>
          <tui-axes
            class="axes"
            [verticalLines]="4"
            [horizontalLines]="2"
          >
            <tui-line-chart
              [x]="0"
              [y]="0"
              [width]="610"
              [height]="50"
              [smoothingFactor]="50"
              [dots]="true"
              [value]="valueTermometr"
              [filled]="true"
              [xStringify]="stringify"
              [yStringify]="stringify"
            ></tui-line-chart>
          </tui-axes>
        </ng-template>
      </div>
      <div class="row h-25">
        <div class="col heartrate"></div>
        <div class="col pt-5">
          <button type="button" id="testHeartrate" (click)="testHeartrate()" mat-raised-button color="primary">Test
          </button>
          <mat-radio-group>
            <mat-radio-button (click)="heartrateClick()">On</mat-radio-button>
            <mat-radio-button (click)="heartrateClick()">Off</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row h-25 mb-5">
        <ng-container #heartRateContainer>
        </ng-container>
        <ng-template #heartRateTemplate>
          <tui-axes
            class="axes"
            [verticalLines]="4"
            [horizontalLines]="4"
          >
            <tui-line-chart
              [x]="0"
              [y]="0"
              [width]="610"
              [height]="230"
              [smoothingFactor]="50"
              [dots]="true"
              [value]=valueHeatRate
              [filled]="true"
              [xStringify]="stringify"
              [yStringify]="stringify"
            ></tui-line-chart>
          </tui-axes>
        </ng-template>
      </div>
      <div class="row h-25">
        <div class="col oximetr"></div>
        <div class="col pt-5">
          <button type="button" id="testOximetr" (click)="testOximetr()" mat-raised-button color="primary">Test</button>
          <mat-radio-group>
            <mat-radio-button (click)="oximetrClick()">On</mat-radio-button>
            <mat-radio-button (click)="oximetrClick()">Off</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row h-25 mb-5">
        <ng-container #oximetrContainer>
        </ng-container>
        <ng-template #oximetrTemplate>
          <tui-axes
            class="axes"
            [verticalLines]="4"
            [horizontalLines]="2"
          >
            <tui-line-chart
              [x]="0"
              [y]="0"
              [width]="610"
              [height]="105"
              [smoothingFactor]="50"
              [dots]="true"
              [value]="valueOximetr"
              [filled]="true"
              [xStringify]="stringify"
              [yStringify]="stringify"
            ></tui-line-chart>
          </tui-axes>
        </ng-template>
      </div>
    </div>
  </div>
</div>
