<h2>List Of Users</h2>
<button mat-raised-button color="warn" (click)="delete()" class="m-1 mb-3"><mat-icon>delete</mat-icon>Delete</button>
<button mat-raised-button color="primary" (click)="block()" class="m-1 mb-3"><mat-icon>lock_outline</mat-icon>Block</button>
<button mat-raised-button color="primary" (click)="unblock()" class="m-1 mb-3"><mat-icon>lock_open</mat-icon>UnBlock</button>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="users" matSort (matSortChange)="announceSortChange($event)">
  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">Email</th>
    <td mat-cell *matCellDef="let element">{{element?.email}}</td>
  </ng-container>

  <!-- LastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName">LastName</th>
    <td mat-cell *matCellDef="let element">{{element?.lastName}}</td>
  </ng-container>

  <!-- FirstName Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstName">FirstName</th>
    <td mat-cell *matCellDef="let element">{{element?.firstName}}</td>
  </ng-container>

  <!-- MiddleName Column -->
  <ng-container matColumnDef="middleName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by middleName">MiddleName</th>
    <td mat-cell *matCellDef="let element">{{element?.middleName}}</td>
  </ng-container>

  <!-- Roles Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by roles">Roles</th>
    <td mat-cell *matCellDef="let element">{{element?.role}}</td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">Status</th>
    <td mat-cell *matCellDef="let element">{{element?.status}}</td>
  </ng-container>

  <!-- Check Column -->
  <ng-container matColumnDef="isSelected">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox [(ngModel)]="isMasterSel" color="primary"  (change)="checkUncheckAll()"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.isSelected" color="primary" (change)="isAllSelected()"></mat-checkbox>
    </td>
  </ng-container>

  <!-- Buttons Column -->
  <ng-container matColumnDef="btns">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" class="m-1" (click)="approve(element?.id)" ><mat-icon>check</mat-icon>Approve</button>
      <button mat-raised-button color="warn"  class="m-1" (click)="decline(element?.id)" ><mat-icon>cancel</mat-icon>Decline</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]"
               [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               (page)="handlePageEvent($event)"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator>
</div>
