<h2>Set Examination</h2>
  <div class="col-md-4">
    <div class="form-group">
      <label>TypePhysicalActive</label><br />
      <select [(ngModel)]='examination.typePhysicalActive' class="form-control">
        <option value="0">Run</option>
        <option value="1">Walk</option>
        <option value="2">Bike</option>
        <option value="3">Swim</option>
        <option value="4">Gym</option>
      </select>
    </div>
    <div class="form-group">
      <label>Sensors</label><br />
      <span *ngFor="let item of errors?.indicators" class="text-danger">{{item}}</span>
      <div class="form-check">
        <input [(ngModel)]='diaSis' type="checkbox" class="form-check-input" />
        <label class="form-check-label">DiaSis</label>
      </div>
      <div class="form-check">
        <input [(ngModel)]='tempareture' type="checkbox" class="form-check-input" />
        <label class="form-check-label">Tempareture</label>
      </div>
      <div class="form-check">
        <input [(ngModel)]='heartRate' type="checkbox" class="form-check-input" />
        <label class="form-check-label">HeartRate</label>
      </div>
      <div class="form-check">
        <input [(ngModel)]='spO2' type="checkbox" class="form-check-input" />
        <label class="form-check-label">SpO2</label>
      </div>
    </div>
    <div class="form-group">
      <label>DateExamination</label><br />
      <input [(ngModel)]='examination.date' class="form-control" type="date" />
      <span *ngFor="let item of errors?.date" class="text-danger">{{item}}</span>
    </div>
    <div>
      <button (click)="createExamination()" class="btn btn-primary mt-1">Set</button>
    </div>
  </div>
