<div class="col-md-4">
  <h2 class="text-center">User registration</h2>
  <div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>FirstName</mat-label>
      <input matInput [(ngModel)]='user.firstName'/>
      <span *ngFor="let item of errors?.firstName" class="text-danger">{{item}}</span>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>MiddleName</mat-label>
      <input matInput [(ngModel)]='user.middleName'/>
      <span *ngFor="let item of errors?.middleName" class="text-danger">{{item}}</span>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>LastName</mat-label>
      <input matInput [(ngModel)]='user.lastName'/>
      <span *ngFor="let item of errors?.lastName" class="text-danger">{{item}}</span>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]='user.role' [(value)]="user.role">
        <mat-option value="Doctor">Doctor</mat-option>
        <mat-option value="Manager">Manager</mat-option>
      </mat-select>
      <span *ngFor="let item of errors?.role" class="text-danger">{{item}}</span>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]='user.email'/>
      <span *ngFor="let item of errors?.email" class="text-danger">{{item}}</span>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]='user.password'/>
      <span *ngFor="let item of errors?.password" class="text-danger">{{item}}</span>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Password Confirm</mat-label>
      <input matInput type="password" [(ngModel)]='user.confirmPassword'/>
      <span *ngFor="let item of errors?.confirmPassword" class="text-danger">{{item}}</span>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" class="w-100" id="registerBtn" (click)="createUser()">Register</button>
  </div>
</div>
