<h4>Examinations</h4>
  <form id='examinations' method="post">
    <button type="submit" class="btn btn-primary m-1" >Delete</button>
    <a (click)="downloadFile()" class="btn btn-primary m-1" >Export</a>
    <a routerLink="/importExaminations" class="btn btn-primary m-1" >Import</a>
    <table class="table table-striped table-hover">
      <tr>
        <th><a>TypePhysicalActive</a></th>
        <th><a>LastName</a></th>
        <th><a>FirstName</a></th>
        <th><a>MiddleName</a></th>
        <th><a>Date</a></th>
        <th></th>
        <th><input type="checkbox" name="cb_all"></th>
      </tr>
      <tr *ngFor="let examination of examinations">
        <td>{{examination.typePhysicalActive}}</td>
        <td>{{examination.patient?.lastName}}</td>
        <td>{{examination.patient?.firstName}}</td>
        <td>{{examination.patient?.middleName}}</td>
        <td>{{examination.date}}</td>
        <td>
            <a class="btn btn-success btn-sm">Start</a>
            <a class="btn btn-primary btn-sm">Edit</a>
        </td>
        <td><input type="checkbox" class="examination" name="selectedExamination" value="@examination.Id"/></td>
      </tr>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
<!--    <li class="page-item">-->
<!--      <a class="page-link" asp-controller="Examination" asp-action="GetModels" asp-route-pageIndex=@(@Model.PageIndex-1)>Previous</a>-->
<!--    </li>-->
<!--    }-->

<!--    @for (int i = Model.PageIndex; i <= Model.PageIndex + 5 && i <= Model.TotalPages; i++)-->
<!--    {-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" asp-controller="Examination" asp-action="GetModels" asp-route-pageIndex=@i>@i</a>-->
<!--    </li>-->
<!--    }-->

<!--    @if (Model.PageIndex < Model.TotalPages)-->
<!--    {-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" asp-controller="Examination" asp-action="GetModels" asp-route-pageIndex=@(@Model.PageIndex+1)>Next</a>-->
<!--    </li>-->
<!--    }-->
    </ul>
</nav>
  </form>
