<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="col-md-4">
  <h2 class="text-center">Create Patient</h2>
  <form [formGroup]="patientForm" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>FirstName</mat-label>
      <input matInput formControlName="firstName"/>
      <span *ngFor="let item of errors?.firstName" class="text-danger">{{item}}</span>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>MiddleName</mat-label>
      <input matInput formControlName="middleName"/>
      <span *ngFor="let item of errors?.middleName" class="text-danger">{{item}}</span>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>LastName</mat-label>
      <input matInput formControlName="lastName"/>
      <span *ngFor="let item of errors?.lastName" class="text-danger">{{item}}</span>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"/>
      <span *ngFor="let item of errors?.email" class="text-danger">{{item}}</span>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age"/>
      <span *ngFor="let item of errors?.Age" class="text-danger">{{item}}</span>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Sex</mat-label>
      <mat-select formControlName="sex">
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Male">Male</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="patientForm.invalid" class="w-100">Create
      </button>
    </div>
  </form>
</div>

